{% extends 'base.html' %}

{% block title %}
    Login
{% endblock title %}

{% block content %}
    <!--Main layout-->
    <main class="mt-5 pt-5">
        <div class="container">
            <hr class="my-5">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <form method="post">
                <table>
                    <tr>
                        <td>Login</td>
                        <td><input type="text" name="login"></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input type="password"name="password"></td>
                    </tr>
                    <tr>
                        <td><a href="{{ url_for('login') }}">Login</a></td>
                        <td><input type="submit" value="Login"></td>
                    </tr>
                </table>
            </form>
            <hr class="my-5">
        </div>
    </main>
    <!--Main layout-->
{% endblock content%}
</body>

</html>
